### Correlations for CO2/GDP/Pop

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as pl

Read in data file

In [30]:
df=pd.read_csv('CO2_pivot_noCO2_930.csv')

# Remove all 2020 rows
df=df.drop(df[df['Year'] == 2020].index)

df

,Unnamed: 0,Country Name,Year,ARI treatment (% of children under 5 taken to a health provider),Access to clean fuels and technologies for cooking (% of population),"Access to clean fuels and technologies for cooking, rural (% of rural population)","Access to clean fuels and technologies for cooking, urban (% of urban population)",Access to electricity (% of population),"Access to electricity, rural (% of rural population)","Access to electricity, urban (% of urban population)",...,Voice and Accountability: Percentile Rank,"Voice and Accountability: Percentile Rank, Lower Bound of 90% Confidence Interval","Voice and Accountability: Percentile Rank, Upper Bound of 90% Confidence Interval",Voice and Accountability: Standard Error,Wanted fertility rate (births per woman),"Water productivity, total (constant 2015 US$ GDP per cubic meter of total freshwater withdrawal)",Women who were first married by age 15 (% of women ages 20-24),Women who were first married by age 18 (% of women ages 20-24),Women's share of population ages 15+ living with HIV (%),Young people (ages 15-24) newly infected with HIV
0,0,Afghanistan,2004,NaN,10.5,1.9,45.3,23.8,7.8,78.8,...,15.384615,7.211538,21.634615,0.175590,NaN,0.393379,NaN,NaN,27.748782,500.0
1,1,Afghanistan,2005,NaN,11.9,2.4,50.2,28.7,15.4,74.0,...,14.903846,8.173077,23.557692,0.173295,NaN,0.437554,NaN,NaN,27.946238,500.0
2,2,Afghanistan,2006,NaN,13.5,3.0,54.7,33.5,19.3,81.6,...,17.788462,8.653846,25.000000,0.150166,NaN,0.460996,NaN,NaN,28.204330,500.0
3,3,Afghanistan,2007,NaN,15.1,3.6,59.2,38.4,25.0,83.0,...,18.750000,10.096154,25.000000,0.145505,NaN,0.524735,NaN,NaN,28.465089,500.0
4,4,Afghanistan,2008,NaN,16.6,4.3,62.9,42.4,28.0,89.9,...,14.423077,9.134615,21.634615,0.143899,NaN,0.545331,NaN,NaN,28.686173,500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4057,4499,Zimbabwe,2015,50.9,30.0,5.8,79.6,33.7,10.9,81.2,...,15.763547,9.852217,22.167488,0.121550,3.6,5.880153,3.7,32.4,59.740456,16000.0
4058,4500,Zimbabwe,2016,NaN,30.0,6.0,79.2,42.5,21.9,85.5,...,14.778325,9.852217,22.167488,0.119329,NaN,5.920923,NaN,NaN,59.888983,14000.0
4059,4501,Zimbabwe,2017,NaN,30.1,6.1,79.2,44.0,24.2,85.5,...,14.778325,10.837439,21.674877,0.119707,NaN,6.278786,NaN,NaN,60.053623,11000.0
4060,4502,Zimbabwe,2018,NaN,30.3,6.5,78.8,45.4,26.4,85.4,...,16.990292,12.135922,21.844660,0.123724,NaN,5.837430,NaN,NaN,60.216147,8400.0
4061,4503,Zimbabwe,2019,48.0,30.3,6.7,78.8,46.7,28.3,85.4,...,16.425121,12.077294,21.256039,0.117815,NaN,5.467778,5.4,33.7,60.377610,6900.0

Create list of catagories

In [31]:
print(df.shape)

cats=pd.DataFrame(df.columns.values)
cats.drop(1)

cats.to_csv('Series_names.csv')
# type(cats)
print(cats)

(3824, 931)
                                                     0
0                                           Unnamed: 0
1                                         Country Name
2                                                 Year
3    ARI treatment (% of children under 5 taken to ...
4    Access to clean fuels and technologies for coo...
..                                                 ...
926  Water productivity, total (constant 2015 US$ G...
927  Women who were first married by age 15 (% of w...
928  Women who were first married by age 18 (% of w...
929  Women's share of population ages 15+ living wi...
930  Young people (ages 15-24) newly infected with HIV

[931 rows x 1 columns]

Remove un-wanted index column

In [32]:
df=df.drop('Unnamed: 0',1)
df.shape

/var/folders/8j/2xw6vvr51bsczxp4p37711lx24bqhv/T/ipykernel_26900/610499963.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df=df.drop('Unnamed: 0',1)

(3824, 930)

Testing looking up one country and one year

In [33]:
afganisatan=df[(df['Country Name']=='Afghanistan')&(df['Year']==2008)]
print(afganisatan)

  Country Name  Year  \
4  Afghanistan  2008

   ARI treatment (% of children under 5 taken to a health provider)  \
4                                                NaN

   Access to clean fuels and technologies for cooking (% of population)  \
4                                               16.6

   Access to clean fuels and technologies for cooking, rural (% of rural population)  \
4                                                4.3

   Access to clean fuels and technologies for cooking, urban (% of urban population)  \
4                                               62.9

   Access to electricity (% of population)  \
4                                     42.4

   Access to electricity, rural (% of rural population)  \
4                                               28.0

   Access to electricity, urban (% of urban population)  \
4                                               89.9

   Adjusted net enrollment rate, primary (% of primary school age children)  \
4                                                NaN

   ...  Voice and Accountability: Percentile Rank  \
4  ...                                  14.423077

   Voice and Accountability: Percentile Rank, Lower Bound of 90% Confidence Interval  \
4                                           9.134615

   Voice and Accountability: Percentile Rank, Upper Bound of 90% Confidence Interval  \
4                                          21.634615

   Voice and Accountability: Standard Error  \
4                                  0.143899

   Wanted fertility rate (births per woman)  \
4                                       NaN

   Water productivity, total (constant 2015 US$ GDP per cubic meter of total freshwater withdrawal)  \
4                                           0.545331

   Women who were first married by age 15 (% of women ages 20-24)  \
4                                                NaN

   Women who were first married by age 18 (% of women ages 20-24)  \
4                                                NaN

   Women's share of population ages 15+ living with HIV (%)  \
4                                          28.686173

   Young people (ages 15-24) newly infected with HIV
4                                              500.0

[1 rows x 930 columns]

In [34]:
countries=df['Country Name'].unique()
corrlist=pd.DataFrame(df['Country Name'].unique())
corrlist.columns=['Country Name']
co2_gdp_cor=[]
co2_pop_cor=[]
gdp_pop_cor=[]


for count in countries:
    cor=df[(df['Country Name']==count)]['CO2 emissions (kt)'].corr(df[(df['Country Name']==count)]['GDP (current US$)'])
    co2_gdp_cor.append(cor)

corrlist['CO2/GDP']=co2_gdp_cor

for count in countries:
    cor=df[(df['Country Name']==count)]['CO2 emissions (kt)'].corr(df[(df['Country Name']==count)]['Population, total'])
    co2_pop_cor.append(cor)

corrlist['CO2/Pop']=co2_pop_cor

for count in countries:
    cor=df[(df['Country Name']==count)]['GDP (current US$)'].corr(df[(df['Country Name']==count)]['Population, total'])
    gdp_pop_cor.append(cor)

corrlist['GDP/Pop']=gdp_pop_cor

corrlist

                    Country Name   CO2/GDP   CO2/Pop   GDP/Pop
0                    Afghanistan  0.953843  0.845380  0.843792
1    Africa Eastern and Southern  0.911996  0.967521  0.863912
2     Africa Western and Central  0.791936  0.952544  0.851145
3                        Albania  0.728934 -0.799527 -0.892734
4                        Algeria  0.694246  0.990865  0.658552
..                           ...       ...       ...       ...
234                     Viet Nam  0.950888  0.947778  0.995398
235                        World  0.991377  0.963222  0.959106
236                  Yemen, Rep.  0.144301 -0.633956  0.580068
237                       Zambia  0.687603  0.954729  0.814469
238                     Zimbabwe  0.567106  0.376762  0.891280

[239 rows x 4 columns]