### CO2 data cleaning

Cleaned the data ready for further analysis. Removed variables with insufficient data, and countries with insufficient data. Also restructured the data using melt and pivot to allow for easier analysis.

Import libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pylab as pl

Load data file into a dataframe

In [3]:
df=pd.read_csv('Data/Merged_Combined_data.csv')

Remove unneeded columns

In [4]:
df_reduced=df.drop(['Unnamed: 0','Series Code','Country Code','2021 [YR2021]','2022 [YR2022]','2023 [YR2023]'],axis='columns')

Get all unique series names

In [5]:
series=df_reduced['Series Name'].unique()
series=np.array(series)
series.shape

(934,)

Change all empty cells to nan.

In [6]:
(df_reduced[df_reduced.eq('..')])=np.nan
df_reduced.to_csv('Data/data_reduced.csv')

Melt data to new layout. Year was previously spread over multiple columns, melt to reduce year to one column.

In [8]:
df_melt = df_reduced.melt(id_vars=['Series Name','Country Name'], var_name='Year',value_name='Value') 
df_melt = df_melt.sort_values(by=['Country Name', 'Year']) # Sort by country name and then year
df_melt=df_melt.reset_index(drop=True) # Re index the new sorted data

In [9]:
df_melt

,Series Name,Country Name,Year,Value
0,Access to clean fuels and technologies for coo...,Afghanistan,2004 [YR2004],10.5
1,Access to clean fuels and technologies for coo...,Afghanistan,2004 [YR2004],1.9
2,Access to clean fuels and technologies for coo...,Afghanistan,2004 [YR2004],45.3
3,Access to electricity (% of population),Afghanistan,2004 [YR2004],23.8
4,"Access to electricity, rural (% of rural popul...",Afghanistan,2004 [YR2004],7.8
...,...,...,...,...
4210164,NaN,NaN,2020 [YR2020],NaN
4210165,NaN,NaN,2020 [YR2020],NaN
4210166,NaN,NaN,2020 [YR2020],NaN
4210167,Data from database: World Development Indicators,NaN,2020 [YR2020],NaN
4210168,Last Updated: 06/28/2024,NaN,2020 [YR2020],NaN

Change all years to integers

In [10]:
df_melt['Year']=df_melt['Year'].str[0:4].astype(int)
df_melt

,Series Name,Country Name,Year,Value
0,Access to clean fuels and technologies for coo...,Afghanistan,2004,10.5
1,Access to clean fuels and technologies for coo...,Afghanistan,2004,1.9
2,Access to clean fuels and technologies for coo...,Afghanistan,2004,45.3
3,Access to electricity (% of population),Afghanistan,2004,23.8
4,"Access to electricity, rural (% of rural popul...",Afghanistan,2004,7.8
...,...,...,...,...
4210164,NaN,NaN,2020,NaN
4210165,NaN,NaN,2020,NaN
4210166,NaN,NaN,2020,NaN
4210167,Data from database: World Development Indicators,NaN,2020,NaN
4210168,Last Updated: 06/28/2024,NaN,2020,NaN

Reorder Columns by Country

In [11]:
df_melt=df_melt.reindex(columns=['Country Name','Year','Series Name','Value'])

Pivot Data to move variables from rows to columns

In [12]:
# df_pivot=df_melt.pivot(index='County Name', columns='Year',values='Value')
df_pivot = df_melt.pivot_table(values='Value', index=['Country Name','Year'], columns='Series Name',aggfunc='min')
df_pivot.reset_index(inplace=True)
df_pivot.columns.name = None
# df_melt = df_melt.sort_values(by=['Country Name', 'Year']) # Sort by country name and then year
# df_melt=df_melt.reset_index(drop=True) # Re index the new sorted data

In [13]:
df_pivot.to_csv('Data/CO2_pivot_930.csv')
df_pivot.shape
df_pivot

,Country Name,Year,ARI treatment (% of children under 5 taken to a health provider),Access to clean fuels and technologies for cooking (% of population),"Access to clean fuels and technologies for cooking, rural (% of rural population)","Access to clean fuels and technologies for cooking, urban (% of urban population)",Access to electricity (% of population),"Access to electricity, rural (% of rural population)","Access to electricity, urban (% of urban population)","Adjusted net enrollment rate, primary (% of primary school age children)",...,Voice and Accountability: Percentile Rank,"Voice and Accountability: Percentile Rank, Lower Bound of 90% Confidence Interval","Voice and Accountability: Percentile Rank, Upper Bound of 90% Confidence Interval",Voice and Accountability: Standard Error,Wanted fertility rate (births per woman),"Water productivity, total (constant 2015 US$ GDP per cubic meter of total freshwater withdrawal)",Women who were first married by age 15 (% of women ages 20-24),Women who were first married by age 18 (% of women ages 20-24),Women's share of population ages 15+ living with HIV (%),Young people (ages 15-24) newly infected with HIV
0,Afghanistan,2004,NaN,10.5,1.9,45.3,23.8,7.8,78.8,NaN,...,15.384614944458,7.21153831481934,21.634614944458,0.17559015750885,NaN,0.393379136257915,NaN,NaN,27.7487821851079,500
1,Afghanistan,2005,NaN,11.9,2.4,50.2,28.7,15.4,74,NaN,...,14.9038457870483,8.17307662963867,23.5576915740967,0.173295274376869,NaN,0.43755449144972,NaN,NaN,27.9462383215866,500
2,Afghanistan,2006,NaN,13.5,3,54.7,33.5,19.3,81.6,NaN,...,17.7884616851807,8.65384578704834,25,0.150166392326355,NaN,0.460996049984167,NaN,NaN,28.2043295436848,500
3,Afghanistan,2007,NaN,15.1,3.6,59.2,38.4,25,83,NaN,...,18.75,10.0961542129517,25,0.145505249500275,NaN,0.524734836954617,NaN,NaN,28.4650885812119,500
4,Afghanistan,2008,NaN,16.6,4.3,62.9,42.4,28,89.9,NaN,...,14.4230766296387,9.13461494445801,21.634614944458,0.143898978829384,NaN,0.545330594402961,NaN,NaN,28.6861732644865,500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4500,Zimbabwe,2016,NaN,30,6,79.2,42.5,21.9,85.5,NaN,...,14.7783250808716,9.85221672058105,22.1674880981445,0.119328863918781,NaN,5.9209228137323,NaN,NaN,59.8889834645066,14000
4501,Zimbabwe,2017,NaN,30.1,6.1,79.2,44,24.2,85.5,NaN,...,14.7783250808716,10.837438583374,21.674877166748,0.119706504046917,NaN,6.2787859030648,NaN,NaN,60.0536229593552,11000
4502,Zimbabwe,2018,NaN,30.3,6.5,78.8,45.4,26.4,85.4,NaN,...,16.990291595459,12.1359224319458,21.8446598052979,0.123724415898323,NaN,5.83743042524569,NaN,NaN,60.2161468471976,8400
4503,Zimbabwe,2019,48,30.3,6.7,78.8,46.7,28.3,85.4,NaN,...,16.425121307373,12.0772943496704,21.2560386657715,0.117814749479294,NaN,5.46777827201913,5.4,33.7,60.3776096269848,6900
4504,Zimbabwe,2020,NaN,30.5,6.9,78.6,52.7,37.1,85.7,NaN,...,17.8743953704834,13.043478012085,23.1884059906006,0.120229728519917,NaN,5.0403647430182,NaN,NaN,60.5516086911776,5900

Find all series covering CO2

In [14]:
series=df_pivot.columns
for text in series:
    if 'CO2' in text:
        print(text)

Agricultural methane emissions (thousand metric tons of CO2 equivalent)
Agricultural nitrous oxide emissions (thousand metric tons of CO2 equivalent)
CO2 emissions (kg per 2015 US$ of GDP)
CO2 emissions (kg per 2021 PPP $ of GDP)
CO2 emissions (kg per PPP $ of GDP)
CO2 emissions (kt)
CO2 emissions (metric tons per capita)
CO2 emissions from electricity and heat production, total (% of total fuel combustion)
CO2 emissions from gaseous fuel consumption (% of total)
CO2 emissions from gaseous fuel consumption (kt)
CO2 emissions from liquid fuel consumption (% of total)
CO2 emissions from liquid fuel consumption (kt)
CO2 emissions from manufacturing industries and construction (% of total fuel combustion)
CO2 emissions from other sectors, excluding residential buildings and commercial and public services (% of total fuel combustion)
CO2 emissions from residential buildings and commercial and public services (% of total fuel combustion)
CO2 emissions from solid fuel consumption (% of total)
CO2 emissions from solid fuel consumption (kt)
CO2 emissions from transport (% of total fuel combustion)
CO2 intensity (kg per kg of oil equivalent energy use)
GHG net emissions/removals by LUCF (Mt of CO2 equivalent)
HFC gas emissions (thousand metric tons of CO2 equivalent)
Methane emissions (kt of CO2 equivalent)
Methane emissions in energy sector (thousand metric tons of CO2 equivalent)
Nitrous oxide emissions (thousand metric tons of CO2 equivalent)
Nitrous oxide emissions in energy sector (thousand metric tons of CO2 equivalent)
Other greenhouse gas emissions, HFC, PFC and SF6 (thousand metric tons of CO2 equivalent)
PFC gas emissions (thousand metric tons of CO2 equivalent)
SF6 gas emissions (thousand metric tons of CO2 equivalent)
Total greenhouse gas emissions (kt of CO2 equivalent)

Removing countries with no CO2 data

In [15]:
no_co2=df_pivot[df_pivot['CO2 emissions (kt)'].isnull()]
no_co2
print(no_co2['Country Name'].unique())


df_pivot2=df_pivot.dropna(subset=["CO2 emissions (kt)"])
df_pivot2['Country Name'].unique()

print(df_pivot2.shape)

df_pivot2.to_csv('Data/CO2_pivot_noCO2_930.csv')

['American Samoa' 'Aruba' 'Bermuda' 'British Virgin Islands'
 'Cayman Islands' 'Channel Islands' 'Curacao' 'Faroe Islands'
 'French Polynesia' 'Gibraltar' 'Greenland' 'Guam' 'Hong Kong SAR, China'
 'Isle of Man' 'Kosovo' 'Macao SAR, China' 'Monaco' 'New Caledonia'
 'Northern Mariana Islands' 'Puerto Rico' 'San Marino'
 'Sint Maarten (Dutch part)' 'St. Martin (French part)'
 'Turks and Caicos Islands' 'Virgin Islands (U.S.)' 'West Bank and Gaza']
(4063, 930)

Remove countries with insufficient data.

In [17]:
df_pivot4=df_pivot2.dropna(thresh=len(df_pivot2.index), axis=0)

Remove series with insufficent data

In [20]:
df_pivot3=df_pivot2.dropna(thresh=len(df_pivot2.index)/1.01, axis=1)
df_pivot3.to_csv('Data/CO2_pivot_noCO2_insfData_120.csv')
df_pivot3.shape

(4063, 120)