In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as pl

In [2]:
df_test = pd.DataFrame({"Country Name": ["Afghan", "Afghan", "Afghan", "Afghan", "Iran",
                         "Iran", "Iran", "Iran"],
                   "Year": ["2004", "2004", "2005", "2005", "2004",
                         "2004", "2005", "2005"],
                   "Series Name": ["CO2", "Oil", "CO2", "Oil",
                         "CO2", "Oil", "CO2", "Oil"],
                   "Value": [1,2, 3, 4, 5, 6,7,8]})

df_test

  Country Name  Year Series Name  Value
0       Afghan  2004         CO2      1
1       Afghan  2004         Oil      2
2       Afghan  2005         CO2      3
3       Afghan  2005         Oil      4
4         Iran  2004         CO2      5
5         Iran  2004         Oil      6
6         Iran  2005         CO2      7
7         Iran  2005         Oil      8

In [3]:
df_p = df_test.pivot_table(values='Value', index=['Country Name','Year'], columns='Series Name')
df_p.reset_index(inplace=True)
df_p.columns.name = None
df_p

  Country Name  Year  CO2  Oil
0       Afghan  2004    1    2
1       Afghan  2005    3    4
2         Iran  2004    5    6
3         Iran  2005    7    8