In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as pl

In [75]:
df=pd.read_csv('data/CO2_pivot_noCO2_Countries_930.csv')

# Remove all 2020 rows
df=df.drop(df[df['Year'] == 2020].index)

Create Dataframe

In [148]:
df2 = pd.DataFrame

-Summarise dataframe

In [76]:
df.describe()
df['Access to clean fuels and technologies for cooking (% of population)'].describe()

df.shape

(3056, 936)

-Delete column from dataframe

In [77]:
df=df.drop(['Unnamed: 0'],axis='columns')
df

,Country Name,Year,ARI treatment (% of children under 5 taken to a health provider),Access to clean fuels and technologies for cooking (% of population),"Access to clean fuels and technologies for cooking, rural (% of rural population)","Access to clean fuels and technologies for cooking, urban (% of urban population)",Access to electricity (% of population),"Access to electricity, rural (% of rural population)","Access to electricity, urban (% of urban population)","Adjusted net enrollment rate, primary (% of primary school age children)",...,"Water productivity, total (constant 2015 US$ GDP per cubic meter of total freshwater withdrawal)",Women who were first married by age 15 (% of women ages 20-24),Women who were first married by age 18 (% of women ages 20-24),Women's share of population ages 15+ living with HIV (%),Young people (ages 15-24) newly infected with HIV,CO2 per capita,GDP per capita,CO2 per capita NORM,GDP per capita NORM,Population NORM
0,Afghanistan,2004,NaN,10.5,1.9,45.3,23.8,7.8,78.8,NaN,...,0.393379,NaN,NaN,27.748782,500.0,0.000055,221.830531,0.011974,0.019530,0.581026
1,Afghanistan,2005,NaN,11.9,2.4,50.2,28.7,15.4,74.0,NaN,...,0.437554,NaN,NaN,27.946238,500.0,0.000080,254.115276,0.017538,0.022372,0.602183
2,Afghanistan,2006,NaN,13.5,3.0,54.7,33.5,19.3,81.6,NaN,...,0.460996,NaN,NaN,28.204330,500.0,0.000090,274.015392,0.019589,0.024124,0.627635
3,Afghanistan,2007,NaN,15.1,3.6,59.2,38.4,25.0,83.0,NaN,...,0.524735,NaN,NaN,28.465089,500.0,0.000110,376.318300,0.023994,0.033131,0.638991
4,Afghanistan,2008,NaN,16.6,4.3,62.9,42.4,28.0,89.9,NaN,...,0.545331,NaN,NaN,28.686173,500.0,0.000166,382.533807,0.036136,0.033678,0.651915
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3051,Zimbabwe,2015,50.9,30.0,5.8,79.6,33.7,10.9,81.2,NaN,...,5.880153,3.7,32.4,59.740456,16000.0,0.000847,1410.329173,0.184845,0.124165,0.349178
3052,Zimbabwe,2016,NaN,30.0,6.0,79.2,42.5,21.9,85.5,NaN,...,5.920923,NaN,NaN,59.888983,14000.0,0.000723,1421.787791,0.157805,0.125174,0.356524
3053,Zimbabwe,2017,NaN,30.1,6.1,79.2,44.0,24.2,85.5,NaN,...,6.278786,NaN,NaN,60.053623,11000.0,0.000663,1192.107012,0.144711,0.104953,0.363885
3054,Zimbabwe,2018,NaN,30.3,6.5,78.8,45.4,26.4,85.4,NaN,...,5.837430,NaN,NaN,60.216147,8400.0,0.000735,2269.177012,0.160505,0.199778,0.371312
3055,Zimbabwe,2019,48.0,30.3,6.7,78.8,46.7,28.3,85.4,NaN,...,5.467778,5.4,33.7,60.377610,6900.0,0.000663,1421.868596,0.144770,0.125181,0.378772

-Locate column - by name or number

In [78]:
df['Year']
df.iloc[:,1]

0       2004
1       2005
2       2006
3       2007
4       2008
        ...
3051    2015
3052    2016
3053    2017
3054    2018
3055    2019
Name: Year, Length: 3056, dtype: int64

-Locate mutiple columns - by name or number

In [95]:
df[['Year','Country Name','GDP per capita']]
df.iloc[:,[0,1,150]]

     Country Name  Year  Community health workers (per 1,000 people)
0     Afghanistan  2004                                          NaN
1     Afghanistan  2005                                          NaN
2     Afghanistan  2006                                          NaN
3     Afghanistan  2007                                          NaN
4     Afghanistan  2008                                          NaN
...           ...   ...                                          ...
3051     Zimbabwe  2015                                          NaN
3052     Zimbabwe  2016                                          NaN
3053     Zimbabwe  2017                                          NaN
3054     Zimbabwe  2018                                          NaN
3055     Zimbabwe  2019                                          NaN

[3056 rows x 3 columns]

-Locate row

In [79]:
df.iloc[77,:]

Country Name                                                                              Angola
Year                                                                                        2017
ARI treatment (% of children under 5 taken to a health provider)                             NaN
Access to clean fuels and technologies for cooking (% of population)                        48.3
Access to clean fuels and technologies for cooking, rural (% of rural population)            7.9
                                                                                        ...
CO2 per capita                                                                           0.00083
GDP per capita                                                                       2439.374439
CO2 per capita NORM                                                                     0.181083
GDP per capita NORM                                                                     0.214762
Population NORM                                                                         0.745196
Name: 77, Length: 935, dtype: object

-Sort by 1 column
-Locate multiple columns

In [90]:
sorted_CO2_df=df.sort_values(by='CO2 per capita',ascending=False)
sorted_CO2_df[['Country Name','Year','CO2 per capita']].head(150)

       Country Name  Year  CO2 per capita
2224          Qatar  2004        0.047657
2225          Qatar  2005        0.045406
2226          Qatar  2006        0.043289
2227          Qatar  2007        0.040609
2232          Qatar  2012        0.039582
...             ...   ...             ...
510          Canada  2018        0.015633
143       Australia  2019        0.015599
2068           Oman  2008        0.015584
2923  United States  2015        0.015560
509          Canada  2017        0.015547

[150 rows x 3 columns]

-Filter by results from 1 column
-List all unique countries within filtered list

In [108]:
filter_pop_df=df[df["Population, total"] < 1000000]

filter_pop_df[['Country Name','Year','Population, total']]
country_under1mil=filter_pop_df['Country Name'].unique()

(40,)

-Locate exact cell or range of cells

In [117]:
df.iloc[2,200]
df.iloc[0:3,0:3]
df.iloc[320:325,150:152]

,"Community health workers (per 1,000 people)",Compensation of employees (% of expense)
320,NaN,24.342741
321,NaN,23.255226
322,NaN,20.830569
323,NaN,22.216069
324,NaN,NaN

-Locate range of rows based on multiple conditions

In [144]:
# Rows based on two conditions. Displaying 3 columns
df[(df['Country Name']=='China') & (df['Year']==2018)][['Country Name','Year','CO2 emissions (kt)']]

# Rows based on three conditions, including a range between, using &, and.
# df[(df['Country Name']=='China') & ((df['Year']<2018) & (df['Year']>2009))][['Country Name','Year','CO2 emissions (kt)']]

# Rows based on three conditions, including a selection, using |, or.
# df[(df['Country Name']=='China') & ((df['Year']==2018) | (df['Year']==2009))][['Country Name','Year','CO2 emissions (kt)']]

    Country Name  Year  CO2 emissions (kt)
574        China  2018          10567262.0

-Use unique country names loop through list, for when country name and 2019 match. Then add to list.
Can be done more easily using the following code, just looking for all 2019 years which will give the same result.

In [160]:
countries=df['Country Name'].unique()
gdp_capita_2019=[]

for count in countries:
    cor=df[(df['Country Name']==count) & (df['Year']==2019)][['Country Name','GDP (current US$)']]
    gdp_capita_2019.append(cor.values[0])

gdp_capita_2019

# Simpler version
# df[(df['Year']==2019)][['Country Name','GDP (current US$)']]

[array(['Afghanistan', 18799444490.1128], dtype=object),
 array(['Albania', 15401826127.2539], dtype=object),
 array(['Algeria', 193459662090.677], dtype=object),
 array(['Andorra', 3155149347.80639], dtype=object),
 array(['Angola', 70897962732.0277], dtype=object),
 array(['Antigua and Barbuda', 1725351851.85185], dtype=object),
 array(['Argentina', 447754683615.225], dtype=object),
 array(['Armenia', 13619290539.2116], dtype=object),
 array(['Australia', 1394671325960.57], dtype=object),
 array(['Austria', 444596155845.254], dtype=object),
 array(['Azerbaijan', 48174235294.1176], dtype=object),
 array(['Bahamas, The', 13016200000.0], dtype=object),
 array(['Bahrain', 38653318085.1064], dtype=object),
 array(['Bangladesh', 351231655150.827], dtype=object),
 array(['Barbados', 5367139250.0], dtype=object),
 array(['Belarus', 64410122847.3508], dtype=object),
 array(['Belgium', 535865804349.803], dtype=object),
 array(['Belize', 2386792476.10637], dtype=object),
 array(['Benin', 14390708751.025], dtype=object),
 array(['Bhutan', 2735683408.57651], dtype=object),
 array(['Bolivia', 40895322850.9407], dtype=object),
 array(['Bosnia and Herzegovina', 20482608755.379], dtype=object),
 array(['Botswana', 16725908148.5481], dtype=object),
 array(['Brazil', 1873288205186.45], dtype=object),
 array(['Brunei Darussalam', 13469235364.7032], dtype=object),
 array(['Bulgaria', 68881010245.5498], dtype=object),
 array(['Burkina Faso', 16032813501.6639], dtype=object),
 array(['Burundi', 2576518879.82353], dtype=object),
 array(['Cabo Verde', 2252177124.32402], dtype=object),
 array(['Cambodia', 27089390032.798], dtype=object),
 array(['Cameroon', 39667757527.6578], dtype=object),
 array(['Canada', 1743725183672.52], dtype=object),
 array(['Central African Republic', 2221301351.43918], dtype=object),
 array(['Chad', 11314951091.7283], dtype=object),
 array(['Chile', 278285058719.466], dtype=object),
 array(['China', 14279968506271.7], dtype=object),
 array(['Colombia', 323031701192.84], dtype=object),
 array(['Comoros', 1195019531.9011], dtype=object),
 array(['Congo, Dem. Rep.', 51775829877.2088], dtype=object),
 array(['Congo, Rep.', 13976637328.8474], dtype=object),
 array(['Costa Rica', 64417670521.1842], dtype=object),
 array(["Cote d'Ivoire", 60382894697.3557], dtype=object),
 array(['Croatia', 61867157679.3215], dtype=object),
 array(['Cuba', 103427600000.0], dtype=object),
 array(['Cyprus', 25947020102.4332], dtype=object),
 array(['Czechia', 252548179964.897], dtype=object),
 array(['Denmark', 346498737961.635], dtype=object),
 array(['Djibouti', 3088853638.56832], dtype=object),
 array(['Dominica', 611537037.037037], dtype=object),
 array(['Dominican Republic', 88941372558.2397], dtype=object),
 array(['Ecuador', 107595829000.0], dtype=object),
 array(['Egypt, Arab Rep.', 318678815489.749], dtype=object),
 array(['El Salvador', 26881140000.0], dtype=object),
 array(['Equatorial Guinea', 11364133549.7478], dtype=object),
 array(['Eritrea', nan], dtype=object),
 array(['Estonia', 31290453293.545], dtype=object),
 array(['Eswatini', 4495267265.76464], dtype=object),
 array(['Ethiopia', 95912607722.3032], dtype=object),
 array(['Fiji', 5444407198.13478], dtype=object),
 array(['Finland', 268514916972.549], dtype=object),
 array(['France', 2728870246705.88], dtype=object),
 array(['Gabon', 16874405460.1955], dtype=object),
 array(['Gambia, The', 1813609692.49994], dtype=object),
 array(['Georgia', 17638337116.9126], dtype=object),
 array(['Germany', 3889177589254.9], dtype=object),
 array(['Ghana', 68337969247.7067], dtype=object),
 array(['Greece', 205252760889.364], dtype=object),
 array(['Grenada', 1213485185.18519], dtype=object),
 array(['Guatemala', 77172317258.6478], dtype=object),
 array(['Guinea', 13442861496.4128], dtype=object),
 array(['Guinea-Bissau', 1486476582.06759], dtype=object),
 array(['Guyana', 5173760191.84652], dtype=object),
 array(['Haiti', 15016090929.5125], dtype=object),
 array(['Honduras', 24882225741.8119], dtype=object),
 array(['Hungary', 164020460331.659], dtype=object),
 array(['Iceland', 24681343649.2952], dtype=object),
 array(['India', 2835606256558.84], dtype=object),
 array(['Indonesia', 1119099871350.2], dtype=object),
 array(['Iran, Islamic Rep.', 283649531542.741], dtype=object),
 array(['Iraq', 233636097800.338], dtype=object),
 array(['Ireland', 398933010007.356], dtype=object),
 array(['Israel', 402470513619.148], dtype=object),
 array(['Italy', 2011302198827.45], dtype=object),
 array(['Jamaica', 15830766531.1474], dtype=object),
 array(['Japan', 5117993853016.51], dtype=object),
 array(['Jordan', 44502816901.4085], dtype=object),
 array(['Kazakhstan', 181667184854.501], dtype=object),
 array(['Kenya', 100378436207.371], dtype=object),
 array(['Kiribati', 216891541.021351], dtype=object),
 array(["Korea, Dem. People's Rep.", nan], dtype=object),
 array(['Korea, Rep.', 1651422932447.77], dtype=object),
 array(['Kuwait', 138696321087.864], dtype=object),
 array(['Kyrgyz Republic', 9371275264.36735], dtype=object),
 array(['Lao PDR', 18740561512.5555], dtype=object),
 array(['Latvia', 34225547537.0745], dtype=object),
 array(['Lebanon', 51605959131.2741], dtype=object),
 array(['Lesotho', 2390702295.82777], dtype=object),
 array(['Liberia', 3319596500.0], dtype=object),
 array(['Libya', 72081962263.1794], dtype=object),
 array(['Liechtenstein', 6436467007.11932], dtype=object),
 array(['Lithuania', 54808531641.4117], dtype=object),
 array(['Luxembourg', 69890505323.5842], dtype=object),
 array(['Madagascar', 14104664678.5063], dtype=object),
 array(['Malawi', 11077305329.6417], dtype=object),
 array(['Malaysia', 365177721021.516], dtype=object),
 array(['Maldives', 5726094799.37709], dtype=object),
 array(['Mali', 17280250810.0321], dtype=object),
 array(['Malta', 16004563885.7539], dtype=object),
 array(['Marshall Islands', 231996704.101563], dtype=object),
 array(['Mauritania', 7894764885.82312], dtype=object),
 array(['Mauritius', 14436346979.6355], dtype=object),
 array(['Mexico', 1305211135822.61], dtype=object),
 array(['Micronesia, Fed. Sts.', 394000000.0], dtype=object),
 array(['Moldova', 11736797054.6965], dtype=object),
 array(['Mongolia', 14206359017.5143], dtype=object),
 array(['Montenegro', 5542054181.12616], dtype=object),
 array(['Morocco', 128920266409.458], dtype=object),
 array(['Mozambique', 15512758964.5779], dtype=object),
 array(['Myanmar', 75065106227.6892], dtype=object),
 array(['Namibia', 12541928102.7657], dtype=object),
 array(['Nauru', 125160115.547819], dtype=object),
 array(['Nepal', 34186180699.0255], dtype=object),
 array(['Netherlands', 910194347568.626], dtype=object),
 array(['New Zealand', 212846907683.439], dtype=object),
 array(['Nicaragua', 12699046244.607], dtype=object),
 array(['Niger', 12889555561.2299], dtype=object),
 array(['Nigeria', 474517490844.461], dtype=object),
 array(['North Macedonia', 12606338448.547], dtype=object),
 array(['Norway', 408742840909.091], dtype=object),
 array(['Oman', 88060858257.4772], dtype=object),
 array(['Pakistan', 320909472770.669], dtype=object),
 array(['Palau', 281828704.833984], dtype=object),
 array(['Panama', 69721787500.0], dtype=object),
 array(['Papua New Guinea', 24751066910.5409], dtype=object),
 array(['Paraguay', 37925338329.1494], dtype=object),
 array(['Peru', 228346006003.648], dtype=object),
 array(['Philippines', 376823402244.928], dtype=object),
 array(['Poland', 596058473058.766], dtype=object),
 array(['Portugal', 239986922638.902], dtype=object),
 array(['Qatar', 176371267692.308], dtype=object),
 array(['Romania', 251017797625.017], dtype=object),
 array(['Russian Federation', 1693115002708.32], dtype=object),
 array(['Rwanda', 10349299855.8404], dtype=object),
 array(['Samoa', 912950466.064906], dtype=object),
 array(['Sao Tome and Principe', 412976064.479214], dtype=object),
 array(['Saudi Arabia', 838564800000.0], dtype=object),
 array(['Senegal', 23403995992.1354], dtype=object),
 array(['Serbia', 51514242938.6734], dtype=object),
 array(['Seychelles', 1868690096.73454], dtype=object),
 array(['Sierra Leone', 4076578698.79107], dtype=object),
 array(['Singapore', 376901649222.451], dtype=object),
 array(['Slovak Republic', 105711680180.565], dtype=object),
 array(['Slovenia', 54386654313.9685], dtype=object),
 array(['Solomon Islands', 1619155017.3924], dtype=object),
 array(['Somalia', 9420431258.24747], dtype=object),
 array(['South Africa', 389330032224.269], dtype=object),
 array(['South Sudan', nan], dtype=object),
 array(['Spain', 1394320055129.41], dtype=object),
 array(['Sri Lanka', 89014978344.1404], dtype=object),
 array(['St. Kitts and Nevis', 1107855555.55556], dtype=object),
 array(['St. Lucia', 2092081549.02444], dtype=object),
 array(['St. Vincent and the Grenadines', 910766666.666667], dtype=object),
 array(['Sudan', 32338079165.2893], dtype=object),
 array(['Suriname', 4016040575.08796], dtype=object),
 array(['Sweden', 533879529188.454], dtype=object),
 array(['Switzerland', 721369112726.724], dtype=object),
 array(['Syrian Arab Republic', 22583045052.56], dtype=object),
 array(['Tajikistan', 8300813599.3084], dtype=object),
 array(['Tanzania', 61026731925.9213], dtype=object),
 array(['Thailand', 543976691793.886], dtype=object),
 array(['Timor-Leste', 2027034000.0], dtype=object),
 array(['Togo', 6992700101.37188], dtype=object),
 array(['Tonga', 512053692.078675], dtype=object),
 array(['Trinidad and Tobago', 23775754304.6652], dtype=object),
 array(['Tunisia', 41905540184.424], dtype=object),
 array(['Turkiye', 761005946788.221], dtype=object),
 array(['Turkmenistan', 45232857142.8571], dtype=object),
 array(['Tuvalu', 54123198.5662913], dtype=object),
 array(['Uganda', 35348155095.4215], dtype=object),
 array(['Ukraine', 153883047509.577], dtype=object),
 array(['United Arab Emirates', 417989721742.682], dtype=object),
 array(['United Kingdom', 2851407164907.81], dtype=object),
 array(['United States', 21521395000000.0], dtype=object),
 array(['Uruguay', 62222387928.9932], dtype=object),
 array(['Uzbekistan', 60283503705.3907], dtype=object),
 array(['Vanuatu', 936526267.622513], dtype=object),
 array(['Venezuela, RB', nan], dtype=object),
 array(['Viet Nam', 334365270496.667], dtype=object),
 array(['Yemen, Rep.', nan], dtype=object),
 array(['Zambia', 23308667781.2258], dtype=object),
 array(['Zimbabwe', 21832234925.5021], dtype=object)]

-Melt dataframe.
id_vars are the columns to keep in position. var_name will be the title for all other columns which will be melted into one column with asscoiated value_name for the column  values.

In [171]:
df_melt = df.melt(id_vars=['Country Name', 'Year'], var_name='Variables',value_name='Value') 
df_melt

,Country Name,Year,Variables,Value
0,Afghanistan,2004,ARI treatment (% of children under 5 taken to ...,NaN
1,Afghanistan,2005,ARI treatment (% of children under 5 taken to ...,NaN
2,Afghanistan,2006,ARI treatment (% of children under 5 taken to ...,NaN
3,Afghanistan,2007,ARI treatment (% of children under 5 taken to ...,NaN
4,Afghanistan,2008,ARI treatment (% of children under 5 taken to ...,NaN
...,...,...,...,...
2851243,Zimbabwe,2015,Population NORM,0.349178
2851244,Zimbabwe,2016,Population NORM,0.356524
2851245,Zimbabwe,2017,Population NORM,0.363885
2851246,Zimbabwe,2018,Population NORM,0.371312
2851247,Zimbabwe,2019,Population NORM,0.378772

-Pivot dataframe
index= are the columns to keep in place. columns= is the column which will be piovoted to multiple columns, with values= being the new columns values.

In [185]:
df_pivot=df_melt.pivot_table(index=['Country Name','Year'], columns='Variables',values='Value')

# # Creates new indes
# df_pivot.reset_index(inplace=True)

# # Removes index name
# df_pivot.columns.name = None

df_pivot

Variables          ARI treatment (% of children under 5 taken to a health provider)  \
Country Name Year
Afghanistan  2004                                                NaN
             2005                                                NaN
             2006                                                NaN
             2007                                                NaN
             2008                                                NaN
...                                                              ...
Zimbabwe     2015                                               50.9
             2016                                                NaN
             2017                                                NaN
             2018                                                NaN
             2019                                               48.0

Variables          Access to clean fuels and technologies for cooking (% of population)  \
Country Name Year
Afghanistan  2004                                               10.5
             2005                                               11.9
             2006                                               13.5
             2007                                               15.1
             2008                                               16.6
...                                                              ...
Zimbabwe     2015                                               30.0
             2016                                               30.0
             2017                                               30.1
             2018                                               30.3
             2019                                               30.3

Variables          Access to clean fuels and technologies for cooking, rural (% of rural population)  \
Country Name Year
Afghanistan  2004                                                1.9
             2005                                                2.4
             2006                                                3.0
             2007                                                3.6
             2008                                                4.3
...                                                              ...
Zimbabwe     2015                                                5.8
             2016                                                6.0
             2017                                                6.1
             2018                                                6.5
             2019                                                6.7

Variables          Access to clean fuels and technologies for cooking, urban (% of urban population)  \
Country Name Year
Afghanistan  2004                                               45.3
             2005                                               50.2
             2006                                               54.7
             2007                                               59.2
             2008                                               62.9
...                                                              ...
Zimbabwe     2015                                               79.6
             2016                                               79.2
             2017                                               79.2
             2018                                               78.8
             2019                                               78.8

Variables          Access to electricity (% of population)  \
Country Name Year
Afghanistan  2004                                     23.8
             2005                                     28.7
             2006                                     33.5
             2007                                     38.4
             2008                                     42.4
...                                                    ...
Zimbabwe     2015                                     33.7
             2016                                     42.5
             2017                                     44.0
             2018                                     45.4
             2019                                     46.7

Variables          Access to electricity, rural (% of rural population)  \
Country Name Year
Afghanistan  2004                                                7.8
             2005                                               15.4
             2006                                               19.3
             2007                                               25.0
             2008                                               28.0
...                                                              ...
Zimbabwe     2015                                               10.9
             2016                                               21.9
             2017                                               24.2
             2018                                               26.4
             2019                                               28.3

Variables          Access to electricity, urban (% of urban population)  \
Country Name Year
Afghanistan  2004                                               78.8
             2005                                               74.0
             2006                                               81.6
             2007                                               83.0
             2008                                               89.9
...                                                              ...
Zimbabwe     2015                                               81.2
             2016                                               85.5
             2017                                               85.5
             2018                                               85.4
             2019                                               85.4

Variables          Adjusted net enrollment rate, primary (% of primary school age children)  \
Country Name Year
Afghanistan  2004                                                NaN
             2005                                                NaN
             2006                                                NaN
             2007                                                NaN
             2008                                                NaN
...                                                              ...
Zimbabwe     2015                                                NaN
             2016                                                NaN
             2017                                                NaN
             2018                                                NaN
             2019                                                NaN

Variables          Adjusted net enrollment rate, primary, female (% of primary school age children)  \
Country Name Year
Afghanistan  2004                                                NaN
             2005                                                NaN
             2006                                                NaN
             2007                                                NaN
             2008                                                NaN
...                                                              ...
Zimbabwe     2015                                                NaN
             2016                                                NaN
             2017                                                NaN
             2018                                                NaN
             2019                                                NaN

Variables          Adjusted net enrollment rate, primary, male (% of primary school age children)  \
Country Name Year
Afghanistan  2004                                                NaN
             2005                                                NaN
             2006                                                NaN
             2007                                                NaN
             2008                                                NaN
...                                                              ...
Zimbabwe     2015                                                NaN
             2016                                                NaN
             2017                                                NaN
             2018                                                NaN
             2019                                                NaN

Variables          ...  Voice and Accountability: Percentile Rank  \
Country Name Year  ...
Afghanistan  2004  ...                                  15.384615
             2005  ...                                  14.903846
             2006  ...                                  17.788462
             2007  ...                                  18.750000
             2008  ...                                  14.423077
...                ...                                        ...
Zimbabwe     2015  ...                                  15.763547
             2016  ...                                  14.778325
             2017  ...                                  14.778325
             2018  ...                                  16.990292
             2019  ...                                  16.425121

Variables          Voice and Accountability: Percentile Rank, Lower Bound of 90% Confidence Interval  \
Country Name Year
Afghanistan  2004                                           7.211538
             2005                                           8.173077
             2006                                           8.653846
             2007                                          10.096154
             2008                                           9.134615
...                                                              ...
Zimbabwe     2015                                           9.852217
             2016                                           9.852217
             2017                                          10.837439
             2018                                          12.135922
             2019                                          12.077294

Variables          Voice and Accountability: Percentile Rank, Upper Bound of 90% Confidence Interval  \
Country Name Year
Afghanistan  2004                                          21.634615
             2005                                          23.557692
             2006                                          25.000000
             2007                                          25.000000
             2008                                          21.634615
...                                                              ...
Zimbabwe     2015                                          22.167488
             2016                                          22.167488
             2017                                          21.674877
             2018                                          21.844660
             2019                                          21.256039

Variables          Voice and Accountability: Standard Error  \
Country Name Year
Afghanistan  2004                                  0.175590
             2005                                  0.173295
             2006                                  0.150166
             2007                                  0.145505
             2008                                  0.143899
...                                                     ...
Zimbabwe     2015                                  0.121550
             2016                                  0.119329
             2017                                  0.119707
             2018                                  0.123724
             2019                                  0.117815

Variables          Wanted fertility rate (births per woman)  \
Country Name Year
Afghanistan  2004                                       NaN
             2005                                       NaN
             2006                                       NaN
             2007                                       NaN
             2008                                       NaN
...                                                     ...
Zimbabwe     2015                                       3.6
             2016                                       NaN
             2017                                       NaN
             2018                                       NaN
             2019                                       NaN

Variables          Water productivity, total (constant 2015 US$ GDP per cubic meter of total freshwater withdrawal)  \
Country Name Year
Afghanistan  2004                                           0.393379
             2005                                           0.437554
             2006                                           0.460996
             2007                                           0.524735
             2008                                           0.545331
...                                                              ...
Zimbabwe     2015                                           5.880153
             2016                                           5.920923
             2017                                           6.278786
             2018                                           5.837430
             2019                                           5.467778

Variables          Women who were first married by age 15 (% of women ages 20-24)  \
Country Name Year
Afghanistan  2004                                                NaN
             2005                                                NaN
             2006                                                NaN
             2007                                                NaN
             2008                                                NaN
...                                                              ...
Zimbabwe     2015                                                3.7
             2016                                                NaN
             2017                                                NaN
             2018                                                NaN
             2019                                                5.4

Variables          Women who were first married by age 18 (% of women ages 20-24)  \
Country Name Year
Afghanistan  2004                                                NaN
             2005                                                NaN
             2006                                                NaN
             2007                                                NaN
             2008                                                NaN
...                                                              ...
Zimbabwe     2015                                               32.4
             2016                                                NaN
             2017                                                NaN
             2018                                                NaN
             2019                                               33.7

Variables          Women's share of population ages 15+ living with HIV (%)  \
Country Name Year
Afghanistan  2004                                          27.748782
             2005                                          27.946238
             2006                                          28.204330
             2007                                          28.465089
             2008                                          28.686173
...                                                              ...
Zimbabwe     2015                                          59.740456
             2016                                          59.888983
             2017                                          60.053623
             2018                                          60.216147
             2019                                          60.377610

Variables          Young people (ages 15-24) newly infected with HIV
Country Name Year
Afghanistan  2004                                              500.0
             2005                                              500.0
             2006                                              500.0
             2007                                              500.0
             2008                                              500.0
...                                                              ...
Zimbabwe     2015                                            16000.0
             2016                                            14000.0
             2017                                            11000.0
             2018                                             8400.0
             2019                                             6900.0

[3056 rows x 933 columns]