In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as pl

In [2]:
df=pd.read_csv('CO2_pivot_noCO2_930.csv')

# Remove all 2020 rows
df=df.drop(df[df['Year'] == 2020].index)

In [3]:
df.iloc[0:3,0:3]

   Unnamed: 0 Country Name  Year
0           0  Afghanistan  2004
1           1  Afghanistan  2005
2           2  Afghanistan  2006

In [ ]:
cor=df[(df['Country Name']==count) & (df['Year']==2019)]['GDP per capita NORM']

In [4]:
df['Female headed households (% of households with a female head)'].describe()

count    195.000000
mean      25.338462
std        9.043686
min        1.700000
25%       18.800000
50%       24.900000
75%       31.050000
max       49.400000
Name: Female headed households (% of households with a female head), dtype: float64